[package]
name = "skeplib"
version = "0.9.0"
edition = "2024"

[dependencies]

[dev-dependencies]
criterion = "0.5"

[[bench]]
name = "runtime"
harness = false

[[bench]]
name = "compile"
harness = false
